<h1>Eat-Da-Burger</h1>

<button id="abutton">Click Me</button>

<div>Uneaten</div>
<div>
  {{#each allfood}}
    {{#unless eaten}}
  	<div>{{this.id}}: {{this.food}}</div> <button>Eat it!</button>
    {{/unless}}
  {{/each}}
</div>

<hr/><hr/><hr/>

<div>Already Eaten</div>
<div>
  {{#each allfood}}
    {{#if eaten}}
  	<del>{{this.id}}: {{this.food}}</del>
    {{/if}}
  {{/each}}
</div>
